.bg-img {

    div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
    }
}

.details {

    .poster-side {
        width: 15rem;
        position: absolute;
        bottom: 0;

        img {
            width: 100%;
            box-shadow: 0px 0px 10px 0px black;
        }

        .bi {
            color: #d6d636;
        }


        .heart {
            font-size: 20px;
            color: red;
            cursor: pointer;
        }
    }

    .about {
        margin-left: 20rem;

        span {
            font-size: 14px;
        }
    }
}

.credits {
    .actor {
        margin: 15px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
        text-align: center;
        padding-bottom: 10px;
        border-radius: 8px;

        img {
            min-width: 140px;
            width: 140px;
            background-color: #fff;
            border-radius: 8px 8px 0 0;
        }

        p{
            font-weight: bold;
            font-size: 1em;
            padding-top: 10px;
            padding: 10px 10px 0 10px;
            margin: 0;
        }

        span {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 500px){
    .details{
        display: flex;
        flex-direction: column;

        .poster-side{
            left: 50%;
            transform: translate(-70%, 0);
        }

        .about{
            margin-left: 0;
            margin-top: 23vh;
            text-align: center;
        }
    }
}