<div class="movies p-4">

    <div class="movie" (click)="showMovieDetail(movie)" *ngFor="let movie of movies">
        <img [src]="imageUrl + movie.poster_path" alt="poster" *ngIf="movie.poster_path !== null">
        <img [src]="'../../../assets/blank-image.jpg'" alt="image" *ngIf="movie.poster_path == null">
        <div class="info" [class]="movie.vote_average.toFixed(1) < 6 ? 'bg-red' : '' ">
            <span class="name">{{movie.title}} ({{movie.release_date?.substr(0,4)}})</span>
            <div class="rat-gen mt-2">
                <span class="rating"><i class="bi bi-star-fill"></i>{{movie.vote_average.toFixed(1) / 2}}/5</span>
                <span>min</span>
            </div>
            <div class="genres">
                <div *ngFor="let key of movie.genre_ids">
                    <span *ngFor="let genre of genres?.genres" [ngClass]="{none: key !== genre.id}">
                        {{genre.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>