<div class="dashboard">
    <div class="categories row justify-content-center mt-3">
        <div (click)="showPopularBtn()" class="col-4 col-sm-2 col-md-2 col-lg-1">
            <span [ngClass]="{active: activeC == 'popular'}">Popular</span>
        </div>
        <div (click)="showTopRatedBtn()" class="col-4 col-sm-2 col-md-2 col-lg-2">
            <span [ngClass]="{active: activeC == 'top-rated'}">Top Rated</span>
        </div>
        <div (click)="showUpcomingBtn()" class="col-4 col-sm-2 col-md-2 col-lg-1">
            <span [ngClass]="{active: activeC == 'upcoming'}">Upcoming</span>
        </div>
    </div>

    <!-- Showing movies -->
    <app-movie [movies]="movies"></app-movie>
    
    <div class="d-flex justify-content-center mb-3" *ngIf="spinnerService.isLoading">
        <div class="spinner-border " role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-outline-secondary" [disabled]="spinnerService.isLoading" (click)="loadMore()">Load More</button>
    </div>
</div>