.dashboard {
    user-select: none;

    .categories {
        div {
            text-align: center;
            padding: 5px 10px;
            cursor: pointer;


            span {
                padding-bottom: 3px;
            }

            &:hover span {
                opacity: .7;
            }

            .active {
                border-bottom: 2px solid #ffffd1;
            }
        }


    }
}