<div class="d-flex justify-content-between align-items-center px-5 ">
    <div class="inputContainer d-flex align-items-center">
        <i class="bi bi-search icon px-2"></i>
        <input class="field" type="text" [(ngModel)]="searchName" (keyup)="sensSearch($event)"
            (keyup.enter)="searchMovie()" />
    </div>
    <img src="../../../assets/movie-logo.png" alt="logo" [routerLink]="['/']">
    <div class="links">
        <span class="px-3" [routerLink]="['/favorites']" routerLinkActive="active">Favorites</span>
        <span class="px-3" [routerLink]="['/visited']" routerLinkActive="active">Visited</span>
    </div>
</div>

<div class="moviesDiv" [class]="shown ? '' : 'none'">
    <div class="d-flex justify-content-center" *ngIf="searchedMovies?.results.length == 0">
        <span>No matches</span>
    </div>
    <div class="smMovie" *ngFor="let movie of searchedMovies?.results" (click)="showMovieDetail(movie)">
        <div class="imageDiv">
            <img [src]="imageUrl + movie.poster_path" alt="poster" *ngIf="movie.poster_path !== null">
            <img [src]="'../../../assets/blank-image.jpg'" alt="image" *ngIf="movie.poster_path == null">
        </div>

        <div class="smInfo mx-3">
            <h6>{{movie.title}}({{movie.release_date?.substr(0,4)}})</h6>
            <div>
                <i class="bi"
                    [class]="movie?.vote_average > 0 || movie?.vote_average <= 2 && movie?.vote_average !== 0 ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 2  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 4  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 6  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi" [class]="movie?.vote_average >= 8 ? 'bi-star-fill' : 'bi-star'"></i>
                <span class="mx-3">{{movie.vote_average?.toFixed(1) / 2}}/5</span>
            </div>
        </div>

        <div class="genre">
            <div *ngFor="let key of movie.genre_ids">
                <span *ngFor="let genre of genres?.genres" [style.display]="key !== genre.id ? 'none' : 'block'">
                    {{genre.name}}
                </span>
            </div>
        </div>

    </div>

</div>