<div class="row justify-content-between align-items-center">
    <div class="col-4 d-flex align-items-center d-none d-md-block">
        <i class="bi bi-search icon py-1 px-2" [hidden]="spinnerService.isLoading"></i>
        <div class="spinner-border spinner-border-sm icon m-2" role="status" [hidden]="!spinnerService.isLoading">
            <span class="visually-hidden">Loading...</span>
        </div>
        <input class="field w-100" type="text" [(ngModel)]="searchName" (ngModelChange)="sensSearch($event, 'normal')"
            (keyup.enter)="searchMovie()" placeholder="Search..." />
    </div>

    <img src="../../../assets/movie-logo.png" alt="logo" class="col-4 mx-auto" [routerLink]="['/']">

    <div class="col-4 links d-none d-md-block text-end">
        <span class="px-3" [routerLink]="['/favorites']" routerLinkActive="active">Favorites</span>
        <span class="px-3" [routerLink]="['/visited']" routerLinkActive="active">Visited</span>
    </div>

    <div class="menu-icon d-inline d-sm-inline d-md-none" (click)="showSideBar()"
        [style.color]="isHiddenSideBar ? 'black' : 'white'">
        <i class="bi bi-list" [hidden]="!isHiddenSideBar"></i>
        <i class="bi bi-x-lg fs-3" [hidden]="isHiddenSideBar"></i>
    </div>
</div>

<!-- Sidebar can be shown only in tablets && phones -->
<div class="side-bar" [style.width]="!isHiddenSideBar ? '100%' : '0'">
    <div class="d-flex flex-column align-items-center mt-5 pt-3"
        [style]="isHiddenSideBar ? 'opacity:0; transition: all 0.7s ease-in-out;' : 'opacity:1; transition: all 0.7s ease-in-out;'">
        <div class=" d-flex align-items-center">
            <i class="bi bi-search icon py-1 px-2" [hidden]="spinnerService.isLoading"></i>
            <div class="spinner-border spinner-border-sm icon m-2" role="status" [hidden]="!spinnerService.isLoading">
                <span class="visually-hidden">Loading...</span>
            </div>
            <input class="field w-100" type="text" [(ngModel)]="searchName" (ngModelChange)="sensSearch($event, 'side')"
                (keyup.enter)="searchMovie()" placeholder="Search..." />
        </div>
        <div class="links mt-3 text-white">
            <span class="px-3" [routerLink]="['/favorites']" (click)="isHiddenSideBar = true"
                routerLinkActive="active">Favorites</span>
            <span class="px-3" [routerLink]="['/visited']" (click)="isHiddenSideBar = true"
                routerLinkActive="active">Visited</span>
        </div>
    </div>
</div>

<!-- Search div -->
<div [ngClass]="{'normal-search': searchType !== 'side','side-search':searchType == 'side', none: !shown}" class="scroll-bar" [style]="isHiddenSideBar && searchType == 'side' ? 'width:0': ''">

    <div class="d-flex justify-content-center" *ngIf="searchedMovies?.results.length == 0">
        <span>No matches</span>
    </div>

    <div class="smMovie" *ngFor="let movie of searchedMovies?.results" (click)="showMovieDetail(movie)">
        <div class="imageDiv">
            <img [src]="imageUrl + movie.poster_path" alt="poster" *ngIf="movie.poster_path !== null">
            <img [src]="'../../../assets/blank-image.jpg'" alt="image" *ngIf="movie.poster_path == null">
        </div>

        <div class="smInfo mx-3">
            <h6>{{movie.title}}({{movie.release_date?.substr(0,4)}})</h6>
            <div>
                <i class="bi"
                    [class]="movie?.vote_average > 0 || movie?.vote_average <= 2 && movie?.vote_average !== 0 ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 2  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 4  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi"
                    [class]="movie?.vote_average <= 10 && movie?.vote_average >= 6  ? 'bi-star-fill' : 'bi-star'"></i>
                <i class="bi" [class]="movie?.vote_average >= 8 ? 'bi-star-fill' : 'bi-star'"></i>
                <span class="mx-3">{{movie.vote_average?.toFixed(1) / 2}}/5</span>
            </div>
        </div>

        <div class="genre">
            <div *ngFor="let key of movie.genre_ids">
                <span *ngFor="let genre of genres?.genres" [style.display]="key !== genre.id ? 'none' : 'block'">
                    {{genre.name}}
                </span>
            </div>
        </div>

    </div>
</div>